@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    min-height: 100vh;
    margin: 0;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(255, 254, 254, 0.952);
    min-height: 50vh;
    min-width: 50vh;
}
.header{
    margin-top: 30px;
}
.wrap{      
  padding: 30px 40px;  
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form{
  display: flex;
  flex-direction: column;  
  padding: 30px 40px;  
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.button{
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}
.content{
    background-color: #63db34;
    border: 2px solid #63db34;    
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}